<div>
    <div class="jumbotron subhead">
        <h1>Keyboard Layouts 101</h1>
        <p class="lead">A brief introduction<p>
    </div>
    <p>
        This application allows you to analyze and visualize the typing patterns you create when you use different keyboard layouts, such as the
        <a href="http://home.earthlink.net/~dcrehr/">QWERTY</a>, <a href="http://www.theworldofstuff.com/dvorak/">Dvorak</a>, and
        <a href="http://colemak.com/">Colemak</a> layouts.
    </p>
    <p>
        If you have no idea what I'm talking about, the key layout on your keyboard isn't the only one that's out there, and not all 
        keyboard layouts are created equal. Some are better for your wrists and allow you to type faster and with more comfort. 
        Here are the three most popular keyboard layouts (which I also mentioned above):
    </p>
    <p>
        <div style="text-align: center;">
            <img src="http://patorjk.com/images/qwerty.png" alt="" />
            <br/>  
            <strong>QWERTY</strong>
        </div>
    </p>
    <p>
        <div style="text-align: center;">
            <img src="http://patorjk.com/images/dvorak.png" alt="" />
            <br/>
            <strong>Dvorak (Simplified)</strong>
        </div>
    </p>
    <p>
        <div style="text-align: center;">
            <img src="http://patorjk.com/images/colemak.png" alt="" />
            <br/>
            <strong>Colemak</strong>
        </div>
    </p>
    <p>
        My interest in keyboard layouts came after I read a Discover magazine article entitled <a href="http://discovermagazine.com/1997/apr/thecurseofqwerty1099">"The Curse of QWERTY"</a>. The article tells the story of the QWERTY and Dvorak keyboard layouts and makes a compelling case for switching from a QWERTY layout to a Dvorak layout. Here is a quick summary of its most important points:
    </p>
    <p>
        <ul>
            <li>The QWERTY layout was created in the early 1870's before touch typing and without speed or comfort in mind.</li>
            <li>The Dvorak layout was created in the 1930's and is based on years of research. It takes speed and comfort into account.</li>
            <li>On average, the left hand does 56% of the typing when a QWERTY layout is used. With a Dvorak layout, the right hand does 56% of the typing.</li>
            <li>The Dvorak layout forces you to alternate hands more frequently when typing, this causes you to type faster.</li>
            <li>Users type fastest on the home row. With a QWERTY layout, only 32% of your typing occurs on the home row. With a Dvorak layout, 70% of your typing occurs on the home row.</li>
            <li>It's hypothesized that the Dvorak layout will make it less likely that you'll develop <a href="http://en.wikipedia.org/wiki/Carpal_tunnel_syndrome">Carpal Tunnel Syndrome (CTS)</a>.</li>
            <li>Anecdotally, people who develop carpal tunnel syndrome seem to find relief when they switch from a QWERTY layout to Dvorak layout.</li>
        </ul>
    </p>
    <p>
        There are more reasons, but those were the ones that stuck with me. I was so convinced by what I read that I switched my work and home keyboard layouts to a Dvorak layout by configuring some Windows XP settings in the control panel (to see how <a href="http://kb.iu.edu/data/aepk.html">click here</a>). This lasted for about 6 days (3 of those were over the Labor Day weekend), and then I had to switch back since learning the Dvorak layout was slowing me down at work. I also discovered that the Dvorak layout made all the nice QWERTY keyboard shortcuts (Undo, Cut, Copy and Paste) virtually unusable. This was a big minus since I use those shortcuts constantly. The Dvorak layout also over worked my right pinky. I found myself having to take typing breaks, something I hadn't done since high school.
    </p>
    <p>
        After talking to someone who had Carpal Tunnel Syndrome (something I'm worried about getting), I learned about yet another improved keyboard 
        layout that preserved QWERTY's bottom row short cuts and didn't put massive amounts of stress on the right pinky. This layout was known as 
        the Colemak. Unlike the Dvorak, the Colemak layout is relatively new (developed within the last 5 years), doesn't have a lot of research 
        behind it, and it doesn't have a very large following (online estimates put the number of users between 650 and 1,300).  
        However, the layout looks pretty promising.
    </p>
    <p>
        All of this research is what motivated me to create this application. I wanted to visually compare my typing patterns with the different 
        layouts and get some stats on what hand and which fingers I was using the most.
    </p>
    <p>
        Hopefully the user interface and output is straight forward enough. I had a lot of fun writing this application, hopefully some of you out 
        there will find it useful.
    </p>
    <h3>Copyright</h3>
    <p>
        All images used and generated by this app are released under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 license</a>. In short: feel free to use the images generated by this app however you want. I honestly don't care that much about attribution, so a footnote or mention somewhere in the document they're used in is fine.
    </p>
    <h3>Older Versions of the App</h3>
    <p>
        <ul>
            <li>
                <a href='/keyboard-layout-analyzer/v1/'>Version 1.0</a> - The original version I created in 2008.
            </li>
            <li>
                <a href='/keyboard-layout-analyzer/v2/'>Version 2.0</a> - An overhauled re-write that I did in 2012.
            </li>
            <li>
                <a href='/keyboard-layout-analyzer/'>Version 3.0</a> - The current version. I kept the core analysis code I did in 2012, and the code I did for the keyboard UI elements. The rest of the app was redesigned though, and the front-end code was re-architecuted to work with AngularJS, plus several features were added.
            </li>
        </ul>
    </p>
</div>